h1{
    background-color: grey;
    text-align: center;
    padding: 20px;
    margin-bottom: 0px;
}
h4{
    text-decoration: underline;
    margin: 25px;
    margin-top: 50px;
    padding-top: 20px;
    text-align: center;
}
#kepek{
    width: 250px;
}
figure{
    width: 250px;
    float: right;
    margin-left: 40px;
    text-align: center;
}
body{
    text-align: justify;
    background-image: url(/Képek/TombRaider/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#szoveg{
    margin: 10px;
    margin-left: 40px;
    margin-top: 30px;
    padding-bottom: 15px;
    margin-right: 40px;
}
.behuz{
    text-indent: 20px;
}
.cim{
    font-size: 125%;
    text-decoration: underline;
    font-style: italic;
}
#hatter{
    background-color: rgba(128, 128, 128, 0.84);
    margin-left: 190px;
    margin-right: 190px;
}
table, tr, td, th{
    border: 2px solid black;
    border-collapse: collapse;
    text-align: center;
    padding: 5px;
}